.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

.header .nav {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #e5e5e5;
}

.header .nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 48px;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 15px;
}

.header .navbar .logo {
  color: #4f4f4f;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
}

.header .navbar .logo span {
  text-transform: lowercase;
  color: #448aff;
}

.header .navbar .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.header .navbar .nav__list-item {
  color: #34515e;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  padding: 10px;
  white-space: nowrap;
}

.header .navbar .nav__list-item:hover {
  color: #007aff;
}

.header .navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.header .navbar__btn-elem {
  position: relative;
  width: 20px;
  height: 2px;
  border-radius: 4px;
  background: #007aff;
}

.header .navbar__btn-elem::after {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 4px;
  top: 5px;
  background: #007aff;
}

.header .navbar__btn-elem::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 4px;
  top: -5px;
  background: #007aff;
}

.header .select__city {
  cursor: pointer;
  width: 320px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 8px 30px 8px 46px;
}

.header .select__city .search {
  position: absolute;
  left: 10px;
  font-size: 18px;
  z-index: 1000;
  color: #448aff;
}

.header .select__city select {
  cursor: pointer;
  font-weight: 500;
  position: absolute;
  width: 100%;
  padding-left: 30px;
  left: 0;
  top: 0;
  background-color: #8eacbb1a;
  height: 100%;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.header .select__city .down {
  width: 14px;
  position: absolute;
  right: 10px;
  color: #007aff;
}

.header .lang {
  color: #007aff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 10px 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  border-radius: 8px;
  position: relative;
}

.header .lang:hover {
  background-color: rgba(142, 172, 187, 0.1);
}

.header .lang__items {
  display: none !important;
  padding: 4px 0px;
  display: block;
  position: absolute;
  top: 100%;
  border-radius: 8px;
  right: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.header .lang__items ul {
  border-radius: 8px;
  height: 110px;
  background: #fff;
  overflow-y: scroll;
}

.header .lang__items ul::-webkit-scrollbar {
  width: 2px;
  border-radius: 8px;
}

.header .lang__items ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.header .lang__items ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

.header .lang__items ul li a {
  color: #263238;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  background: transparent;
  padding: 6px 16px;
}

.header .lang__items ul li a:hover {
  color: #007aff;
  background-color: rgba(142, 172, 187, 0.1);
}

.header .lang:hover .lang__items {
  display: block !important;
}

.header .dates {
  background-color: #fff;
  border-top: 1px solid rgba(96, 125, 139, 0.12);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .dates_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
}

.header .dates_list::-webkit-scrollbar {
  height: 2px;
  border-radius: 8px;
}

.header .dates_list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.header .dates_list::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

.header .dates_list-item {
  padding: 0;
  text-transform: uppercase;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.header .dates_list-item.active {
  border-bottom: 2px solid #448aff;
  color: #448aff;
}

.header .dates_list-item:hover {
  background: #8eacbb1a;
}

.header .dates_list-item a {
  display: inline-block;
  white-space: nowrap;
  padding: 16px;
  color: #607d8b;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  background: transparent;
}

.advertise {
  border: 1px solid #e6e7e8;
  height: 100px;
  background: white;
  width: 95%;
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu {
  background-color: #fff;
  height: 100vh;
  left: -100%;
  max-height: 100vh;
  min-width: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc(42% - 54px);
  z-index: 99999;
  border-right: 1px solid rgba(96, 125, 139, 0.12);
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}

.burger__menu.active {
  -webkit-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
  display: block;
  left: 0;
}

.burger__menu .exit__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  padding-top: 8px;
  padding-right: 16px;
}

.burger__menu .exit__btn .exit {
  position: relative;
  right: 0;
  width: 30px;
  margin-left: 4px;
  height: 30px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger__menu .exit__btn .exit::before,
.burger__menu .exit__btn .exit::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #285aeb;
}

.burger__menu .exit__btn .exit::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger__menu .exit__btn .exit::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.burger__menu .location {
  padding: 16px;
}

.burger__menu-top {
  border-bottom: 1px solid rgba(96, 125, 139, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__menu-item {
  border-bottom: 1px solid rgba(96, 125, 139, 0.12);
}

.burger__menu-item .title {
  color: #5a727d;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-top: 16px;
  padding: 0 8px 0 16px;
}

.burger__menu-item a {
  display: block;
  padding: 12px 0px;
  width: 100%;
}

.burger__menu-list li {
  color: #263238;
  display: block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 24px;
  padding: 0;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 1px solid rgba(96, 125, 139, 0.12);
}

.burger__menu-list li a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  display: block;
  padding: 14px 0 14px 16px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
}

.burger__menu-list li a i {
  color: #448aff;
  font-size: 20px;
}

.burger__menu-list li a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #448aff;
  background-color: rgba(142, 172, 187, 0.1);
}

.burger__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  padding: 8px 16px;
}

.burger__menu-social a {
  font-size: 30px;
  width: 40px;
  height: 40px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger__menu-social a:hover {
  border-radius: 8px;
  background: rgba(142, 172, 187, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger__menu-social .youtube {
  color: #fe0000;
  font-size: 28px;
}

.burger__menu-social .telegram {
  color: #239fdb;
}

.burger__menu-social .facebook {
  color: #2574bb;
}

.burger__menu-social .instagram {
  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

.burger__menu .select__city {
  width: 100%;
  max-width: 100%;
}

.burger__menu .select__city select {
  padding-left: 34px;
}

.overlay {
  background-color: #000;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 4;
}

.overlay.active {
  opacity: 0.4;
  visibility: visible;
}

body.active {
  overflow: hidden;
}

.main__section {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: calc(100% - 310px);
}

main .day_history {
  display: none;
  margin-top: 40px;
}

aside {
  width: 300px;
}

.main {
  background-repeat: no-repeat;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-image: url(../img/main/cloud_day.svg);
  background-color: #448aff;
  background-position: 102% 0;
  padding: 20px;
  color: #fff;
}

.main_title {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 28px;
}

.main_subtitle {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 6px;
}

.main .temperature {
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .temperature .temperature-today {
  position: relative;
  width: 250px;
  margin-bottom: 10px;
}

.main .temperature .temperature-today_tem {
  font-size: 72px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.main .temperature .temperature-today_tem .icon::after {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  background-position: -76px 0;
  background-image: url(../img/weather_icons_white.webp) !important;
}

.main .temperature .temperature-today .feels {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 24px;
  gap: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .temperature .temperature-today .feels span {
  color: white;
}

.main .temperature .temperature-today .feels div {
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  padding: 1px 8px;
  text-align: center;
}

.main .temperature .temperature-today .feels .cool {
  background: #1fc6c6;
}

.main .temperature .temperature-today .feels .normal {
  display: none;
  background: #7eca50;
}

.main .temperature .temperature-today .feels .verycold {
  background: #266ee8;
  display: none;
}

.main .temperature .temperature-today .feels .warm {
  display: none;
  background: #e9d201;
}

.main .temperature .temperature-today:after {
  background-color: #ffffff40;
  content: "";
  height: 48px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 1px;
}

.main .temperature-hourly {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding: 10px;
  width: calc(100% - 250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .temperature-hourly li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 20px;
}

.main .temperature-hourly li .when {
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.main .temperature-hourly li .icon::after {
  background-position: -1368px 0;
  -webkit-transform: scale(0.45);
      -ms-transform: scale(0.45);
          transform: scale(0.45);
  background-image: url(../img/weather_icons_white.webp) !important;
}

.main .temperature-hourly li .temp {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 22px;
}

.main .temperature-hourly li .feel {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  opacity: 0.7;
}

.main_feel {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  margin-top: 10px;
}

.main .atmosphere {
  margin-top: 20px;
  border-radius: 8px;
  display: block;
  padding: 12px;
  background: rgba(0, 0, 0, 0.08);
}

.main .atmosphere ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .atmosphere ul li {
  position: relative;
}

.main .atmosphere ul li p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
}

.main .atmosphere ul li .atmosphere-spec {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  letter-spacing: 0.25px;
  padding-top: 6px;
  white-space: pre;
  gap: 2px;
}

.main .atmosphere ul li .atmosphere-spec img {
  width: 23px;
  height: 16px;
}

.main .atmosphere ul li .atmosphere-spec i {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.main .atmosphere ul li .atmosphere-spec b {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.main .atmosphere ul li .atmosphere-spec span {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  line-height: 20px;
}

.main .atmosphere ul li:not(:first-child)::after {
  background-color: #ffffff40;
  content: "";
  height: 40px;
  left: -12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 1px;
}

.main_info {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.day_by_day {
  background: #fff;
  margin-top: 15px;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
}

.day_by_day .swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  padding: 8px;
  overflow-x: hidden;
}

.day_by_day .swiper::-webkit-scrollbar {
  height: 2px;
  border-radius: 8px;
}

.day_by_day .swiper::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.day_by_day .swiper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

.day_by_day .swiper_item:last-child {
  background-color: #448aff;
  padding: 0;
}

.day_by_day .swiper_item:last-child:hover {
  color: #448aff;
  background-color: rgba(142, 172, 187, 0.1);
  -webkit-transition: color 0.25s ease, background-color 0.25s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.day_by_day .swiper_item:last-child:hover a {
  color: #448aff;
}

.day_by_day .swiper_item:last-child:hover h6 {
  color: #448aff;
}

.day_by_day .swiper_item:last-child a {
  color: #fff;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.day_by_day .swiper_item:last-child a h6 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.day_by_day .swiper_item:last-child a i {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 24px;
}

.day_by_day .swiper_item {
  background-color: rgba(142, 172, 187, 0.1);
  padding: 8px 12px 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  max-width: 300px;
  min-width: 150px;
  width: 100% !important;
}

.day_by_day .swiper_item h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #448aff;
}

.day_by_day .swiper_item span {
  color: rgba(52, 81, 94, 0.8);
  font-size: 12px;
  line-height: 18px;
}

.day_by_day .swiper_item .tem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.day_by_day .swiper_item .tem .icon {
  width: 32px;
  height: 32px;
  margin: 0;
}

.day_by_day .swiper_item .tem .icon::after {
  content: "";
  background-position: -76px 0;
  -webkit-transform: scale(0.45);
      -ms-transform: scale(0.45);
          transform: scale(0.45);
  left: -20px;
  top: -20px;
  background-image: url(../img/weather_icons.webp);
}

.day_by_day .swiper_item .tem div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.day_by_day .swiper_item .tem div .max {
  color: #263238;
}

.day_by_day .swiper_item .tem div .min {
  color: rgba(52, 81, 94, 0.8);
}

.day_by_day .swiper .active {
  background: white;
}

.day_by_day .info {
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.day_by_day .info .info_item {
  width: calc(100% - 240px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day_by_day .info .info_item .times_of_day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px 6px 0px;
  height: 320px;
  border-right: 1px solid rgba(96, 125, 139, 0.12);
}

.day_by_day .info .info_item .times_of_day ul {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #34515e;
}

.day_by_day .info .info_item .times_of_day ul .title {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 8px;
  text-align: center;
}

.day_by_day .info .info_item .times_of_day ul .tem {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  line-height: 20px;
  margin: 12px 0 6px;
  text-align: center;
}

.day_by_day .info .info_item .times_of_day ul .icon {
  -webkit-transform: scale(0.56);
  -ms-transform: scale(0.56);
      transform: scale(0.56);
  background-position: -912px 0;
}

.day_by_day .info .info_item .times_of_day ul .feels {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.day_by_day .info .info_item .times_of_day ul .weather_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 12px 0px 12px 8px;
}

.day_by_day .info .info_item .times_of_day ul .weather_info i {
  width: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(96, 125, 139, 0.4);
  font-size: 15px;
  margin-right: 9px;
}

.day_by_day .info .info_item .times_of_day ul .weather_info .wind {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.day_by_day .info .info_item .times_of_day ul small {
  font-size: 12px;
  font-weight: 400;
}

.day_by_day .info .info_item .description {
  color: #263238;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.day_by_day .info .overall_day {
  width: 240px;
  padding: 0px 15px;
}

.day_by_day .info .overall_day .box {
  padding-top: 10px;
  height: 320px;
}

.day_by_day .info .overall_day .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}

.day_by_day .info .overall_day .box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 210px;
}

.day_by_day .info .overall_day .box ul li .day_icon {
  height: 24px;
  background-position: center;
  background-size: cover;
  width: 24px;
}

.day_by_day .info .overall_day .box ul li .sun {
  background-image: url(../img/icons/sun.svg) !important;
}

.day_by_day .info .overall_day .box ul li .moon {
  background-image: url(../img/icons/moon.svg) !important;
}

.day_by_day .info .overall_day .box ul li .sunny {
  background-image: url(../img/icons/sunny.svg) !important;
}

.day_by_day .info .overall_day .box ul li .sunset {
  background-image: url(../img/icons/sunset.svg) !important;
}

.day_by_day .info .overall_day .box ul li .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.day_by_day .info .overall_day .box ul li .text span {
  color: rgba(52, 81, 94, 0.8);
}

.day_by_day .info .overall_day .box ul li .text b {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.day_by_day .info .overall_day .box h3 {
  color: #34515e;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 10px;
}

.day_by_day .info .overall_day-btn {
  text-transform: uppercase;
  background-color: #448aff;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 11px 24px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 9px;
}

.day_by_day .info .overall_day-btn:hover {
  color: #448aff;
  background-color: rgba(142, 172, 187, 0.1);
  -webkit-transition: color 0.25s ease, background-color 0.25s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.information {
  margin-top: 60px;
}

.information__box {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;
  color: rgba(52, 81, 94, 0.8);
}

.information__tab {
  border-radius: 8px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.information__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 10px;
}

.information__items .tabsContentItem {
  width: 50%;
}

.information__items .tabsContentItem .day__circle {
  border-right: 2px solid rgba(96, 125, 139, 0.12);
  width: 100%;
}

.information__items .tabsContentItem .day__circle-timezone {
  display: block;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  text-align: center;
}

.information__items .tabsContentItem .day__circle-time {
  color: #263238;
  display: block;
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
  margin: 0;
  padding-top: 4px;
  text-align: center;
}

.information__items .tabsContentItem .day__circle-wrapper {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.information__items .tabsContentItem .day__circle-wrapper .circle__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
}

.information__items .tabsContentItem .day__circle-wrapper .circle__item .circle__icon {
  background-position: center;
  background-size: cover;
  width: 32px;
  height: 32px;
  background-image: url(../img/icons/sunny.svg);
}

.information__items .tabsContentItem .day__circle-wrapper .circle__item .circle__text .day__status {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.information__items .tabsContentItem .day__circle-wrapper .circle__item .circle__text .day__time {
  text-align: center;
  color: #263238;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.information__items .tabsContentItem .day__circle-wrapper .moon {
  margin-top: 15px;
}

.information__items .tabsContentItem .day__circle-wrapper .moon .circle__icon {
  font-size: 24px;
  line-height: 32px;
  background: none;
}

.information__items .tabsContentItem .day__circle-wrapper .circle__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 15px;
}

.information__items .tabsContentItem .day__circle-wrapper .circle__center .sunrise {
  background-image: url(../img/icons/sun.svg);
}

.information__items .tabsContentItem .day__circle-wrapper .circle__center .sunset {
  background-image: url(../img/icons/sunset.svg);
}

.information__items .tabsContentItem .day__circle-wrapper .circle__center .earth {
  width: 120px;
  height: 120px;
  background-image: url(../img/icons/earth.svg);
}

.information__items .tabsContentItem .twilight__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  gap: 24px;
}

.information__items .tabsContentItem .twilight__info-item {
  width: 100%;
  padding: 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.information__items .tabsContentItem .twilight__info-item > span {
  font-size: 28px;
  color: #5a727d;
}

.information__items .tabsContentItem .twilight__info-item > span i {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.information__items .tabsContentItem .twilight__info-item div h3 {
  color: rgba(52, 81, 94, 0.8);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.information__items .tabsContentItem .twilight__info-item div span {
  color: #263238;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.information__btn {
  padding: 18px 0px;
  text-align: center;
  color: #263238;
  width: 50%;
  border-bottom: 2px solid #4489ff3f;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 17px 0 15px;
  text-transform: uppercase;
}

.information__btn:last-child {
  border-left: 1px solid #4489ff3f;
}

.icon {
  margin: auto;
  position: relative;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
}

.icon::after {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  content: "";
  height: 72px;
  position: absolute;
  width: 72px;
  left: -16px;
  top: -16px;
  background-image: url(../img/weather_icons.webp) !important;
}

.section__title {
  color: #263238;
  display: block;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.18px;
  line-height: 28px;
  margin: 20px 8px 16px;
}

.day_history {
  width: 100%;
  background: white;
  border-radius: 8px;
}

.day_history-header {
  border-bottom: 1px solid rgba(96, 125, 139, 0.12);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 12px 12px 20px;
}

.day_history-header .info h3 {
  color: #263238;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.day_history-header .info .date {
  color: #5a727d;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.day_history-header .logo {
  height: 56px;
  width: 56px;
}

.day_history-header .logo img {
  width: 100%;
}

.day_history-content {
  padding: 16px 12px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.day_history-content p {
  color: rgba(52, 81, 94, 0.8);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 0 0 16px;
  padding-right: 12px;
}

.map {
  margin-top: 80px;
}

.map__item {
  width: 100%;
  height: 450px;
}

.map__item iframe {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.regions {
  margin-top: 80px;
}

.regions__wrapper {
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  padding: 0px 16px 16px 16px;
}

.regions__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.regions__content {
  padding: 16px 0px;
}

.regions__pick {
  cursor: pointer;
  color: rgba(52, 81, 94, 0.8);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 17px 24px 15px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
}

.regions__pick.active {
  color: #448aff;
  border-bottom: 2px solid #448aff;
}

.regions__list {
  grid-gap: 8px;
  display: -ms-grid;
  display: grid;
  display: none;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.regions__list.active {
  display: -ms-grid;
  display: grid;
}

.regions__list-item {
  background: rgba(142, 172, 187, 0.1);
  border-radius: 8px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.regions__list-item:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background: rgba(142, 172, 187, 0.2);
}

.regions__list-item .region {
  color: #263238;
  display: block;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  padding: 8px 12px 12px;
}

.regions__list-item .region__temperature {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

.regions__list-item .region__temperature .icon {
  width: 32px;
  height: 32px;
  margin: 0;
}

.regions__list-item .region__temperature .icon::after {
  -webkit-transform: scale(0.445);
      -ms-transform: scale(0.445);
          transform: scale(0.445);
  content: "";
  height: 72px;
  width: 72px;
  position: absolute;
  left: -20px;
  top: -20px;
  background-position: -912px 0;
  background-image: url(../img/weather_icons.webp) !important;
}

.regions__list-item .region__temperature span {
  color: #263238;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
  text-align: right;
}

.regions__btn {
  text-transform: uppercase;
  background-color: #448aff;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 11px 24px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 9px;
  max-width: 200px;
  margin: auto;
}

.regions__btn:hover {
  color: #448aff;
  background-color: rgba(142, 172, 187, 0.1);
  -webkit-transition: color 0.25s ease, background-color 0.25s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease;
}

footer {
  width: 100%;
  background-color: white;
  margin-top: 80px;
}

.footer__date {
  padding: 24px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.select__date {
  position: relative;
}

.select__date ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
}

.select__date-item a {
  display: inline-block;
  color: #448aff;
  padding: 8px 12px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1px;
  border-radius: 8px;
  line-height: 24px;
  background-color: rgba(142, 172, 187, 0.1);
  -webkit-transition: color 0.25s ease, background-color 0.25s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.select__date-item a:hover {
  color: white;
  background-color: #448aff;
}

.select__city {
  cursor: pointer;
  width: 320px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 8px 30px 8px 46px;
}

.select__city .search {
  position: absolute;
  left: 10px;
  font-size: 18px;
  z-index: 1000;
  color: #448aff;
}

.select__city select {
  cursor: pointer;
  font-weight: 500;
  position: absolute;
  width: 100%;
  padding-left: 30px;
  left: 0;
  top: 0;
  background-color: #8eacbb1a;
  height: 100%;
  border-radius: 8px;
  -moz-appearance: none;
  -webkit-appearance: none;
          appearance: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.select__city .down {
  width: 14px;
  position: absolute;
  right: 10px;
  color: #007aff;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #607d8b1f;
  border-bottom: 1px solid #607d8b1f;
  padding: 8px 0px;
}

.footer__content .logo {
  color: #4f4f4f;
  display: block;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
}

.footer__content .logo span {
  text-transform: lowercase;
  color: #448aff;
}

.footer__content .lang {
  color: #007aff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 10px 15px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  border-radius: 8px;
  position: relative;
}

.footer__content .lang:hover {
  background-color: rgba(142, 172, 187, 0.1);
}

.footer__content .lang__items {
  display: none !important;
  padding: 4px 0px;
  position: absolute;
  bottom: 100%;
  border-radius: 8px;
  right: 0;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.footer__content .lang__items ul {
  border-radius: 8px;
  height: 110px;
  background: #fff;
  overflow-y: scroll;
}

.footer__content .lang__items ul::-webkit-scrollbar {
  width: 2px;
  border-radius: 8px;
}

.footer__content .lang__items ul::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.footer__content .lang__items ul::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #888;
}

.footer__content .lang__items ul li a {
  color: #263238;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  background: transparent;
  padding: 6px 16px;
}

.footer__content .lang__items ul li a:hover {
  color: #007aff;
  background-color: rgba(142, 172, 187, 0.1);
}

.footer__content .lang:hover .lang__items {
  display: block !important;
}

.footer__nav {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

.footer__nav a {
  color: #34515e;
  display: block;
  font-size: 14px;
  letter-spacing: 0.25px;
  padding: 16px 0px;
}

.footer__nav a:hover {
  color: #448aff;
  -webkit-transition: color 0.25s ease, background-color 0.25s ease;
  -o-transition: color 0.25s ease, background-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.footer__copyright {
  padding: 24px 0px;
  border-top: 1px solid #607d8b1f;
  border-bottom: 1px solid #607d8b1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__copyright p {
  display: block;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.footer__copyright .footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer__copyright .footer__social a {
  font-size: 30px;
  width: 40px;
  height: 40px;
  background: rgba(142, 172, 187, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__copyright .footer__social a:hover {
  border-radius: 8px;
  background: rgba(142, 172, 187, 0.4);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__copyright .footer__social .youtube {
  color: #fe0000;
  font-size: 28px;
}

.footer__copyright .footer__social .telegram {
  color: #239fdb;
}

.footer__copyright .footer__social .facebook {
  color: #2574bb;
}

.footer__copyright .footer__social .instagram {
  color: #d6249f;
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  caret-color: transparent;
  font-family: "Roboto", sans-serif;
  list-style: none;
}

*:focus,
*:active {
  outline: none;
}

html,
body {
  height: 100%;
  min-width: 360px;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

:root {
  --primary-bg-color: white;
  --primary-text-color: black;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (max-width: 1200px) {
  .main .temperature-hourly {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 5px;
    width: calc(100% - 255px);
  }

  .footer__date {
    gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .main__section {
    display: block;
  }
}

@media (max-width: 1024px) {
  main {
    width: 100%;
  }

  main .day_history {
    display: block;
  }

  aside {
    display: none;
  }

  .main .temperature-hourly {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .day_by_day .swiper {
    overflow-x: scroll;
  }

  .day_history {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 992px) {
  .header .navbar .nav__list {
    display: none;
  }

  .select__date {
    width: 100%;
  }

  .select__date::after {
    content: "";
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-box-shadow: 0px 0px 20px 20px white;
            box-shadow: 0px 0px 20px 20px white;
  }

  .select__date ul {
    width: 100%;
    padding-bottom: 10px;
    padding-right: 10px;
    overflow-x: scroll;
  }
}

@media screen and (max-width: 786px) {
  .main .atmosphere ul li {
    width: 100%;
    padding-bottom: 5px;
    border-bottom: 1px solid #ffffff40;
  }
}

@media (max-width: 768px) {
  .header .select__city {
    width: 100%;
  }

  .main .temperature {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .main .temperature .temperature-today {
    width: 100%;
  }

  .main .temperature .temperature-today .icon {
    margin-left: 40px;
  }

  .main .temperature-hourly {
    width: 100%;
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .day_by_day .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .day_by_day .info .info_item {
    width: 100%;
  }

  .day_by_day .info .info_item .times_of_day {
    border-bottom: 1px solid rgba(96, 125, 139, 0.12);
  }

  .day_by_day .info .overall_day {
    width: 100%;
  }

  .day_by_day .info .overall_day .box {
    height: auto;
    margin-bottom: 20px;
  }

  .day_by_day .info .overall_day .box ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .day_by_day .info .overall_day .box h3 {
    display: none;
  }

  .day_by_day .info .overall_day-btn i {
    display: none;
  }

  .information__items .tabsContentItem {
    display: none;
    width: 100%;
  }

  .information__items .tabsContentItem.active {
    display: block;
  }

  .information__items .tabsContentItem .day__circle {
    border: none;
  }

  .information__btn {
    cursor: pointer;
  }

  .information__btn.active {
    border-bottom: 2px solid #448aff;
    color: #448aff;
  }

  .map__item {
    height: 400px;
  }

  .regions__list {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .select__city {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .header .navbar {
    gap: 8px;
  }

  .header .lang span {
    display: none;
  }

  .regions__list {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .footer__content .lang span {
    display: none;
  }

  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 20px;
  }

  .footer__copyright .footer__social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 576) {
  .header .select__city {
    max-width: 130px;
  }

  .select__city {
    max-width: 130px;
  }
}