footer {
    width: 100%;
    background-color: white;
    margin-top: 80px;
}

.footer__date {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (max-width: 1200px) {
        gap: 15px;
    }
}

.select__date {
    position: relative;
    @media (max-width: 992px) {
        width: 100%;
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 20px;
            box-shadow: 0px 0px 20px 20px white;
        }
    }
    ul {
        display: flex;
        align-items: center;
        gap: 6px;
        @media (max-width: 992px) {
            width: 100%;
            padding-bottom: 10px;
            padding-right: 10px;
            overflow-x: scroll;
        }
    }
    &-item {
        a {
            display: inline-block;
            color: #448aff;
            padding: 8px 12px;
            text-align: center;
            white-space: nowrap;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.1px;
            border-radius: 8px;
            line-height: 24px;
            background-color: rgba(142, 172, 187, 0.1);
            -webkit-transition: color 0.25s ease, background-color 0.25s ease;
            transition: color 0.25s ease, background-color 0.25s ease;
            &:hover {
                color: white;
                background-color: #448aff;
            }
        }
    }
}

.select__city {
    cursor: pointer;
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
    padding: 8px 30px 8px 46px;
    @media (max-width: 768px) {
        width: 100%;
    }
    @media (max-width: 576) {
        max-width: 130px;
    }
    .search {
        position: absolute;
        left: 10px;
        font-size: 18px;
        z-index: 1000;
        color: #448aff;
    }
    select {
        cursor: pointer;
        font-weight: 500;
        position: absolute;
        width: 100%;
        padding-left: 30px;
        left: 0;
        top: 0;
        background-color: #8eacbb1a;
        height: 100%;
        border-radius: 8px;
        -moz-appearance: none;
        appearance: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
    .down {
        width: 14px;
        position: absolute;
        right: 10px;
        color: #007aff;
    }
}

.footer__content {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #607d8b1f;
    border-bottom: 1px solid #607d8b1f;
    padding: 8px 0px;
    .logo {
        color: #4f4f4f;
        display: block;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 40px;
        span {
            text-transform: lowercase;
            color: #448aff;
        }
    }

    .lang {
        color: #007aff;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 1.25px;
        line-height: 16px;
        padding: 10px 15px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 7px;
        border-radius: 8px;
        position: relative;
        @media (max-width: 576px) {
            span {
                display: none;
            }
        }
        &:hover {
            background-color: rgba(142, 172, 187, 0.1);
        }
        &__items {
            display: none !important;
            padding: 4px 0px;
            position: absolute;
            bottom: 100%;
            border-radius: 8px;
            right: 0;
            box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
            ul {
                border-radius: 8px;
                height: 110px;
                background: #fff;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 2px;
                    border-radius: 8px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background: #888;
                }
                li {
                    a {
                        color: #263238;
                        display: block;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        letter-spacing: 0.1px;
                        line-height: 24px;
                        background: transparent;
                        padding: 6px 16px;
                        &:hover {
                            color: #007aff;
                            background-color: rgba(142, 172, 187, 0.1);
                        }
                    }
                }
            }
        }
    }

    .lang:hover .lang__items {
        display: block !important;
    }
}

.footer__nav {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    @media (max-width: 576px) {
        flex-direction: column;
    }
    a {
        color: #34515e;
        display: block;
        font-size: 14px;
        letter-spacing: 0.25px;
        padding: 16px 0px;
        &:hover {
            color: #448aff;
            transition: color 0.25s ease, background-color 0.25s ease;
        }
    }
}

.footer__copyright {
    padding: 24px 0px;
    border-top: 1px solid #607d8b1f;
    border-bottom: 1px solid #607d8b1f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 576px) {
        flex-direction: column-reverse;
        gap: 20px;
    }
    p {
        display: block;
        font-size: 12px;
        letter-spacing: 0.4px;
        line-height: 16px;
    }
    .footer__social {
        display: flex;
        gap: 16px;
        @media (max-width: 576px) {
            justify-content: space-around;
            width: 100%;
        }
        a{
            font-size: 30px;
            width: 40px;
            height: 40px;
            background: rgba(142, 172, 187, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            transition: .3s;
            &:hover{
                border-radius: 8px;
                background: rgba(142, 172, 187, 0.4);
                transition: .3s;
            }
        }
        .youtube {
            color: #fe0000;
            font-size: 28px;
        }
        .telegram {
            color: #239fdb;
        }
        .facebook {
            color: #2574bb;
        }
        .instagram {
            color: #d6249f;
            color: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
            );
        }
    }
}
